<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqy.dao.record_listMapper">
    <resultMap id="BaseResultMap" type="com.xqy.domain.record_list" >
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="record_liat_name" jdbcType="VARCHAR" property="record_liat_name"/>
        <result column="start_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="start_time"/>
        <result column="owner_account" jdbcType="VARCHAR" property="owner_account"/>
    </resultMap>
    <select id="recordOfOwnner" resultMap="BaseResultMap">
        select * from record_list where owner_account = #{account}
    </select>
    <select id="recordOfOwnnerByName" resultMap="BaseResultMap">
        select * from record_list where owner_account = #{account} and record_liat_name like CONCAT('%',#{name},'%' )
    </select>
    <select id="add" resultType="com.xqy.domain.record_list">
        insert into record_list( record_liat_name, start_time, owner_account) values (#{record_liat_name},#{start_time},#{owner_account})
    </select>
    <update id="delete" parameterType="com.xqy.domain.user">
        UPDATE record_list SET  owner_account = 'admin' WHERE id = #{id}
    </update>


</mapper>